@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-color {
  background-color: #d41246;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-size: 15px;
  width: 15%;
}

.nav {
  justify-content: space-around;
}

h1 {
  text-transform: uppercase;
  background-color: #faf9f4;
}

.filter {
  background-color: #fff;
  border: 1px #e3e2e2 solid;
  width: 20%;
  text-align: justify;
  border-radius: 0;
}
#btn-custom {
  background-color: #d41246;
  width: 15%;
  color: #fff;
  border: 1px #d41246 solid;
  text-transform: uppercase;
}

.user-card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 2px;
  height: 350px;
}

.card-body {
  gap: 20px;
}

.name {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
